.box {
  width: 500px;
  margin: 30px auto;
  border: solid 5px salmon;
  border-radius: 5px;
}
.feedbacktitle {
  text-align: center;
  margin-top: 10px;
}
.titlestat {
  text-align: center;
  margin-top: 10px;
}
.feedbackblock {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px salmon;
}
.resultlist {
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button {
  width: 100px;
  padding: 5px;
  font-size: large;
  line-height: 25px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: aquamarine;
}
.result {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
